on boot
    chown nfc nfc /dev/sec-nfc
    chmod 0770 /dev/sec-nfc

service vendor.samsung_nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.samsung
    class hal
    user nfc
    group nfc
